*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style delle macro sezioni */




main{
    height: auto;
    width: 100%;
}

footer{
    background-color: black;
    
    /* debug */
    height: 19rem;
}

button{
    border-radius: 18px;
    padding: 0.5rem 0.8rem ;
    border: none;
    font-weight: 600;
} 


/* style più dettagliate */

header{
    height: 19rem;
    display: flex;
    flex-direction: column ;
    /* regole debug */
    background-color: #00008B;
    width: 100%;
    
}

#contenitoreNavigazione{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    /* regole debug */
    background-color: #ADD8E6;
    
}

.posizioneContenitori{
    width: 61%;
}

#contenitoreNavigazione .barraNavigazione{
    height: 1.8rem;
    display: flex;
    color: white;
    /* regole debug */
    background-color: #DAA520;
    
}

.barraNavigazione div{
    border:1px dashed black;
    height: 100%;
    display: flex;
    align-items: center;
    /* debug */
}

.menuLaterali{
    flex-grow: 2;
}

.listaMenu{
    flex-grow: 2;
     
}

.listaMenu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* controllare dopo perchè non funziona lo space-around */
   
}


.barraNavigazione .menuLaterali:last-child{
    justify-content: flex-end;
    
}

.whiteButton{
    color: black;
}

/* seconda parte header */
#contDownloadDiscord{
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    color: white;
    /* debug */
    background-color: #EE82EE;
    
    border:1px dashed black;
}

.interlineeHeader{
    margin: 0.5rem;
}

.blackButton{
    background-color: black;
    color: white;
}

/* inizio parte main */
main > div{
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* debug */
    border: 1px dashed black;
}

.wave {
    background: #0099ff; /* Sostituisci con il colore di sfondo desiderato */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.second {
    background: #fff; /* Sostituisci con il colore di sfondo desiderato */
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
/* .containterWave .white{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20rem;
    left: -6rem;
    z-index: 1;
}

.containterWave .grey{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: #D3D3D3;
    position: absolute;
    top: 32rem;
    left: 32rem;
    z-index: 1;
}

.containterWave .second.white{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20rem;
    left: 70rem;
    z-index: 1;
} */




div.oddSection{
    background-color: white;
    
    
}

div.pairSection{
    background-color: #D3D3D3;
}

div .posizioneContenitori{
    height: 90%;
    display: flex;
    z-index: 2; 
    /* debug */
    
}

.oddSection .containerLeft{
    height: 100%;
    width: 60%;
    /* DEBUG */
    background-color: #1E90FF;
    border: 1px dashed black;
    
}

.oddSection .containerRight{
    height: 100%;
    width: 40%;
    /* DEBUG */
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.pairSection .containerLeft{
    
    height: 100%;
    width: 40%;
    /* DEBUG */
    background-color: #FFC0CB;
    border: 1px dashed black;
    
}

.pairSection .containerRight{
    height: 100%;
    width: 60%;
    /* DEBUG */
    background-color: #1E90FF;
    border: 1px dashed black;
}

.pairSection.ultimaSection{
    height: 40rem;
    background-color: #D3D3D3;
}

.ultimaSection .posizioneContenitori{
    height: 90%;
    background-color: #228B22;
}

/* inizio footer */

footer #mainContain{
    height: 83%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    
}

footer .posizioneContenitori{
    height: 90%;
    display: flex;
}

.posizioneContenitori .contSinistra{
    background-color: #F08080;
    border: 1px dashed black;
    
    
}

.posizioneContenitori .contDestra{
    background-color: #20B2AA;
    border: 1px dashed white;
    
}

.item1{
    flex-grow: 2;
}

.item2, .item3, .item4, .item5{
    flex-grow: 1;
}

#lastContainFoot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
}

#lastContainFoot .posizioneContenitori{
    background-color: #7FFFD4;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colorBlue{
    background-color: #8EA1E1;
    color: white;
}





