*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style delle macro sezioni */

header{
    height: 19rem;
    display: flex;
    flex-direction: column;
    /* regole debug */
    background-color: #00008B;
    width: 100%;
    
}

main{
    height: 45rem;
    width: 100%;
    /* regole debug */
    background-color: yellow;
    
}
button{
    border-radius: 18px;
    padding: 0.5rem 0.8rem ;
    border: none;
    font-weight: 600;
} 

/* style più dettagliate */

#contenitoreNavigazione{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    /* regole debug */
    background-color: #ADD8E6;
    
}

.posizioneContenitori{
    width: 61%;
}
#contenitoreNavigazione .barraNavigazione{
    height: 1.8rem;
    display: flex;
    /* regole debug */
    background-color: #DAA520;
    
}

.barraNavigazione div{
    border:1px dashed black;
    height: 100%;
    display: flex;
    align-items: center;
    
    /* debug */
}

.lateraliMenu{
    width: 25%;
}

.listaMenu{
    width: 50%;
    
}

.listaMenu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* controllare dopo perchè non funziona lo space-around */
    
}

.barraNavigazione .lateraliMenu:last-child{
    justify-content: flex-end;
}

#contDownloadDiscord{
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    /* debug */
    background-color: #EE82EE;
    /* height: 60%; */
    border:1px dashed black;
}

.interlineeHeader{
    margin: 0.5rem;
}

section{
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 1; da fare alla fine con le onde*/
    /* debug */
    border: 1px dashed black;
}

section.oddSection{
    background-color: white;
}

section.pairSection{
    background-color: #D3D3D3;
}
section .posizioneContenitori{
    height: 90%;
    display: flex;
    /* debug */
    
    /* z-index: 1; da fare alla fine con le onde*/
    
}

.oddSection .containerRight{
    height: 100%;
    width: 60%;
    /* DEBUG */
    background-color: #1E90FF;
    border: 1px dashed black;
    
}

.oddSection .containerLeft{
    height: 100%;
    width: 40%;
    /* DEBUG */
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.pairSection .containerRight{
    
    height: 100%;
    width: 40%;
    /* DEBUG */
    background-color: #FFC0CB;
    border: 1px dashed black;
    
}

.pairSection .containerLeft{
    height: 100%;
    width: 60%;
    /* DEBUG */
    background-color: #1E90FF;
    border: 1px dashed black;
}

.pairSection.ultimaSection{
    height: 40rem;
    background-color: #D3D3D3;
}

.ultimaSection .posizioneContenitori{
    height: 90%;
    background-color: #228B22;
}
/* da fare alla fine


.containterWave{
    position: relative
}


.wave.white{
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 102%;
    left: 0;
    z-index: 1; da fare alla fine con le onde
}

.wave.grey{
    background-color: #D3D3D3;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 102%;
    left: 0;
    z-index: 2;
} */


