*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style delle macro sezioni */

header{
    height: 19rem;
    display: flex;
    flex-direction: column;
    /* regole debug */
    background-color: #00008B;
    width: 100%;
    
}

button{
    border-radius: 18px;
    padding: 0,3rem 0,8rem;
    border: none;
    /* modificare spazio interno */
} 

/* style più dettagliate */

#contenitoreNavigazione{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    /* regole debug */
    background-color: #ADD8E6;
    
}

.posizioneContenitori{
    width: 61%;
}
#contenitoreNavigazione .barraNavigazione{
    height: 1.8rem;
    display: flex;
    /* regole debug */
    background-color: #DAA520;
    
}

.barraNavigazione div{
    border:1px dashed black;
    height: 100%;
    display: flex;
    align-items: center;
    
    /* debug */
}

.lateraliMenu{
    width: 25%;
}

.listaMenu{
    width: 50%;
    
}

.listaMenu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* controllare dopo perchè non funziona lo space-around */
    
}

.barraNavigazione .lateraliMenu:last-child{
    justify-content: flex-end;
}

#contDownloadDiscord{
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    /* debug */
    background-color: #EE82EE;
    /* height: 60%; */
    border:1px dashed black;
}

.interlineeHeader{
    margin: 0.5rem;
}



